@using Microsoft.AspNetCore.Identity

@inject UserManager<SwiftMove.Models.CustomUserModel> UserManager
@{
    var user = await UserManager.GetUserAsync(User); //Grabs the current logged in acccount
    bool isAdmin = false;
    if (user != null)
    {
        isAdmin =  await UserManager.IsInRoleAsync(user, "Admin"); //Checks the users role against a boolean created
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SwiftMove</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SwiftMove.styles.css" asp-append-version="true" />
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />

    }
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container-fluid container">

                <a asp-controller="Home" asp-action="Index">
                    <img asp-controller="Home" asp-action="Index" class="img-fluid w-75" alt="logo" id="logo" src="/Images/logo.png" />
                </a>
                <a class="navbar-brand fw-mid" asp-area="" asp-controller="Home" asp-action="Index">SwiftMove</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Services" asp-action="Index">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Bookings" asp-action="Index">Book Now</a>
                        </li>
                        <!-- Updates Navbar to show Admin dashboard when Admin logged in, Authorisation via the HomeController -->
                        @if (isAdmin)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Admin" asp-action="Index">Admin Dashboard</a>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="">
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container d-flex justify-content-between">
            <p class="mb-0">&copy; 2025 SwiftMove PLC</p>
            <p class="mb-0">Designed by Steve Scorse</p>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
