@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'League Spartan', sans-serif;
    background-color: #f2f2f2;
}

html.uryjhcs.idc0_350 body div.container {
    display: block !important; /* Makes sure it's visible */
}

.container1 {
    width: 100vw !important; /* Make it span full screen */
    height: 9vw;
    margin-left: calc(-50vw + 50%) !important; /* Pull it left outside the container */
    background-color: #436B47 !important;
}

.h1a {
    font-size: 4rem !important;
    font-weight: 700 !important; 
}

.btn-success {
    background: #436B47 !important;
}