@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'League Spartan', sans-serif;
    background-color: #f2f2f2;
}

html.uryjhcs.idc0_350 body div.container {
    display: block !important; /* Makes sure it's visible */
}

.container1 {
    width: 100vw !important; /* Make it span full screen */
    height: 9vw;
    margin-left: calc(-50vw + 50%) !important; /* Pull it left outside the container */
    margin-bottom: 2%;
    background-color: #436B47 !important;
}

.h1a {
    font-size: 4rem !important;
    font-weight: 700 !important; 
}

.btn-success {
    background: #436B47 !important;
}

.hero-section {
    background: url('/Images/heroimage.png') no-repeat center center;
    background-size: cover;
    height: 600px;
    color: white;
    position: relative;
    backdrop-filter: blur(10); 
}

    .hero-section:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(to left, transparent 30%, black 100%);
    }

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}

.hero-content {
    position: relative;
    z-index: 2;
    padding-top: 150px;
}

.btn-custom-outline {
    border: 2px solid white;
    color: white;
    background: transparent;
    margin-left: 10px;
}

.why-section {
    background-color: white;
    padding: 60px 0;
}

    .why-section h2 {
        color: #14532d;
        font-weight: bold;
        
    }

    .why-section h1 {
        color: #14532d;
        font-weight: bold;
        font-size: 3rem !important;
    }

.heavy {
    font-weight: 900 !important;
    font-size: 4.5rem;
}

fw-mid {
    font-weight:700 !important;
}

.card-body1 {
    background-color: #f2f2f2;
}

.card1 {
    background-color: #f2f2f2;
}